html {
  font-family: Lora, serif;
  color: #fff;
  background-color: #467366;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-color: #588477;
  background-size: 64px;
}

.logo {
  text-align: center;
  background-image: url("../images/leaf-icon.svg");
  background-size: 64px;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  border: solid 3px #2d5a4d;
  background-color: #588477;
}

.nav a:hover {
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {
  background-image: url("../images/banner.jpg");
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
